<div class="navbar-wagon">
  <!-- Logo -->
  <h1><%= link_to 'YEPLP LA!', restaurants_path %></h1>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links -->
    <%= link_to "Admin Section", admin_restaurants_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Add a restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link navbar-wagon-button" %>
  </div>
</div>
